@use '@shared/styles/variables.scss' as *;
.blockTitle {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
    gap: 16px; 
    &_line{
        width: 100%;
        height: 1px;
        background-color: $color-basic-gray-v2;
    }
}