@use '@shared/styles/variables.scss' as *;
@use 'sass:color';
@use '@shared/styles/mixins.scss' as *;
.button {
  border-radius: 50px;
  padding: 15px 32px;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
  @include adaptiv-font(16, 16);
  &__fullWidth {
    width: 100%;
  }
  &__primaryOutline {
    background-color: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;
    svg {
      stroke: $color-primary;
    }
    &:hover {
      background-color: $color-primary;
      color: $color-basic-white;
      svg {
        stroke: $color-basic-white;
      }
    }
  }
  &__primary {
    background-color: $color-primary;
    color: $color-basic-white;
    &:hover {
      background-color: color.adjust($color-primary, $lightness: -10%);
    }
  }
  &__black {
    background-color: $color-basic-black;
    color: $color-basic-white;
    border: 1px solid $color-basic-gray;
    &:hover {
      background-color: color.adjust($color-basic-black, $lightness: -1%);
    }
  }
  &__size {
    &_small {
      padding: 8px 16px;
      border-radius: 12px;
      @include adaptiv-font(14, 14);
    }
    &_medium {
      padding: 14px 24px;
    }
    &_large {
      border-radius: 50px;
      padding: 15px 32px;
    }
  }
}
