@use '@shared/styles/variables.scss' as *;


body {
  transition: 0.3s;
  font-family: var(--font-family);
  line-height: 145%;
  color: $color-basic-gray;
  font-weight: $fw-400;
  background-color: $color-basic-black;
}
