$color-primary: var(--color-primary);
$color-basic-white: var(--color-basic-white);
$color-basic-gray-light: var(--color-basic-gray-light);
$color-basic-gray: var(--color-basic-gray);
$color-basic-gray-v2: var(--color-basic-gray-v2);
$color-basic-black: var(--color-basic-black);
$color-basic-black-v2: var(--color-basic-black-v2);
$color-basic-black-v3: var(--color-basic-black-v3);
$color-border-gray: var(--color-border-gray);
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-36: 36px;
$fs-48: 48px;
$fs-72: 72px;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

$radius-base: 10px;
$radius-circle: 50%;
