$color-primary: #00BCA2;
$color-basic-white: #EAEFF5;
$color-basic-gray-light:  #86909B;
$color-basic-gray: #141B24;
$color-basic-gray-v2: #212A33;
$color-basic-black: #03080F;
$color-basic-black-v2: #212A33;
$color-basic-black-v3: #091018;
$color-border-gray: #212A33;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-36: 36px;
$fs-48: 48px;
$fs-72: 72px;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

$radius-base: 10px;
$radius-circle: 50%;
