@use '@shared/styles/variables.scss' as *;
.header{
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__navs{
        display: flex;
        align-items: center;
        gap: 1.2vw;
        &_nav{
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 0.1vw;
            
        }
    }
    &__right{
        display: flex;
        align-items: center;
        gap: 32px;
    }
}
.link{
    &:hover{
        color: $color-primary;
    }
}
.ordinal {
    font-family: var(--font-family-mono);
}
